.background {
    height: 1300px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.backgroundImage {
    font-family: "Source Serif 4", serif;
    z-index: -1;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    overflow-y: hidden;
}

.gridGradient {
    height: 100%;
    border-radius: 20px;
}

.backgroundGrid {
    display: grid;
    grid-template-rows: 7% 82% 11%;
    grid-template-columns: 5% 80% 15%;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 20;
    position: relative;
}

.categoryTitle {
    font-weight: 600;
    font-size: 40px;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    padding-top: 20px;
}

.categoryDescriptionGrid {
    background-color: black;
    grid-column: 1/4;
    grid-row: 3;
    display: grid;
    grid-template-columns: 5% 80% 15%;   
}

.categoryDescription {
    font-size: 21px;
    font-weight: 300;
    grid-column: 2;
    display: flex;
    align-items: center;
}


.arrowRight {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
}