.contactBanner{
    position: sticky;
    top: 89px;
    display: flex;
    justify-content: center;
    font-weight: 300;
    height: 20px;
    grid-column: 1/4;
    color: white;
    background-color: black;
    width: 100%;
}