.dContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.dText{
    background-color: #f2f2f2;
    text-align: center;
    font-size: 18px;
    max-width: 85%;
    border-radius: 15px;
    line-height: 30px;
    padding: 10px;
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  


}

@media screen and (min-width: 1200px){
    
    .dText{
        max-width: 92%;
    }

}