:root {
    --color1: #080B38;
    --color2: #6D74F7;
    --color3: #AFB0C7;
}

/* :root {
    --color1: #021526;
    --color2: #03346E;
    --color3: #6EACDA;
    --color2: #EEEEEE;
    --color5: #E2E2B6;
} */


.footerContainer{
    margin-top: auto;
}

.background{
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    color: white;
}

.footerGrid{
    font-size: 14px;
    height: 720px;
    width: 100%;
    color: var(--color6);
    font-weight: 600;
    max-width: 1620px;

}

.chuck{
    display: flex;
    flex-direction: column;
}

.chuckGrid{
    display: grid;
}

.copyrightAndAwardFlex {
    display: flex;
    flex-direction: row;
}

.award1 {
    height: 120px;
    padding-top: 15px;
}

.award2Flex {
all: unset;
visibility: hidden;
}

.award2 {
    height: 0px;
}

.logoCopyrightFlex{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 26px;
}

.logoGrid{
    background-color: white;
    width: 175px;
    height: 80px;
    position: relative;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer

}

.logoStyle{
    height: 62px;
}

.copyright{
    width: 250px;
    font-size: 13px;
}

.copyrightText{
    padding-top: 15px;
    padding-bottom: 8px;
}

.categoriesFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.categoriesGrid{
    width: 47%;
    text-decoration: none !important;
}

.categoriesTitle{
    padding-bottom: 4px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color3);
    width: 100%;
}

.categoriesLinks{
    font-weight: 600;
    padding-bottom: 10px;
    cursor: pointer;
    text-decoration: none !important;
    color: white;
}

.socialMediaOuterFlex{
    width: 100%;
}

.socialMediaFlex{
    display: flex;
    flex-direction: column;
}

.socialMediaTitleFlex{
    display: flex;
    justify-content: flex-start;
}

.socialMediaTitle{
    padding-bottom: 7px;
}

.socialMediaLinksFlex{
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--color3);
    border-bottom: 1px solid var(--color3);
}

.linkToWhite{
    color: white;
    text-decoration: none;
    padding: 14px;
    border-left: 1px solid var(--color3);
    border-right: 1px solid var(--color3);
}

.linkToWhiteLeftmost{
    composes: linkToWhite;
    border-left: unset;
}

.newsletterFlex{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 25px;
    width: 100%;
}

.newsletterTitle{
    padding-bottom: 5px;
}

.newsletterBox{
    margin-top: 10px;
    padding-bottom: 5px;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
}

.newsletterText{
    background-color: rgba(136, 0, 255, 0);
    border-bottom: 0px;
    font-style: normal;
    color: var(--color1);
    width: 100%;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 14px;

}

input::placeholder{
    color: var(--color1);
    font-size: 14px;
}

input:focus{
    outline: none;
}

.newsletterSubmitBox{
    all: unset;
    margin-right: 25px;
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
    color: var(--color1);
    transition: all .2s ease-in-out;

}

.newsletterSubmitBox:hover{
    color: white;
}

.newsletterLineBorder{
    margin-top: 3px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 4px solid white;
}

.newsletterBoxFlex{
    display: flex;
}

.donateFlexboxRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  var(--color2);
    height: 80px;
    width: 100%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.donateFlexboxRow:hover{
    background-color: rgb(89, 74, 102);
    color: var(--color3);
}

.donateFlexboxRow:hover .donateFlexCenter{
    padding-right: 20px;
}

.donateFlexboxCol{
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-right: 10px;
}

.donateTitle{
    color: white;
    font-size: 16px;
    padding-bottom: 6px;
    padding-left: 20px;
}

.donateText{
    color: var(--color1);
    padding-left: 20px;
    transition: all .2s ease-in-out;
}

.donateFlexCenter{
    border: solid 4px var(--color2);
    background-color: var(--color2);
    display: flex;
    align-items: center;
    padding-right: 30px;
    color: white;
    transition: all .2s ease-in-out;
}

.email, .phone {
    color: var(--color2)
}

@media only screen and (max-width: 600px){
    .socialMediaFlex{
        padding-top: 40px;
    }

    .footerGrid{
        height: 780px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 768px){

    .chuckGrid{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }

    .categoriesFlex{
        column-gap: 32px;
    }

    .socialMediaOuterFlex{
        grid-row: 1;
        grid-column: 2;
    }

    .newsletterFlex{
        padding-top: 110px;
        grid-row: 1;
        grid-column: 2;
        margin-top: 0px;
        margin-bottom: 0px;
        justify-content: flex-start;
        padding-bottom: 30px;
    }

    .socialMediaTitle{
        padding-bottom: 4px;
    }   

    .footerGrid{
        height: 579px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){

    .copyrightText{
        padding-top: 25px;
        padding-bottom: 8px;
    }

    .logoCopyrightFlex{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .logoStyle{
        width: 80%;
        height: 80%;
    }

    .logoGrid{
        width: 210px;
        height: 100px;
        position: relative;
        bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright{
        text-align: left;
        padding-top: 0;
        font-size: 15px;
    }

    .footerGrid{
        display: grid;
        grid-template-columns: 220px 1fr;
        grid-template-rows: 275px 1fr;
        column-gap: 25px;
        height: 400px;
    }

    .chuckGrid{
        grid-template-rows: 1fr 100px;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        padding-top: 25px;
    }

    .award1 {
        all: unset;
        visibility: hidden;
    }

    .award2 {
        visibility: visible;
        height: 110px;
        margin-bottom: 15px;
        grid-column: 1/2;
    }

    .socialMediaOuterFlex{
        grid-row: 1;
        grid-column: 2;
    }

    .newsletterFlex{
        grid-row: 1/3;
        grid-column: 2;
        padding-top: 60px;
    }

    .donateFlexboxRow{
        grid-column: 2/3;
    }
}

@media only screen and (min-width: 1200px){

    .copyrightText{
        padding-top: 25px;
        padding-bottom: 8px;
    }

    .logoCopyrightFlex{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .logoStyle{
        width: 80%;
        height: 80%;
    }

    .logoGrid{
        width: 210px;
        height: 100px;
        position: relative;
        bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright{
        text-align: left;
        padding-top: 0;
        font-size: 15px;
    }

    .footerGrid{
        display: grid;
        grid-template-columns: 220px 1fr 300px;
        column-gap: 25px;
        height: 340px;
    }

    .chuckGrid{
        grid-template-rows: 1fr 100px;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        padding-top: 25px;
    }

    .socialMediaOuterFlex{
        grid-row: 1;
        grid-column: 2;
    }

    .newsletterFlex{
        grid-row: 1/3;
        grid-column: 2;
        padding-top: 60px;
    }

    .donateFlexboxRow{
        grid-column: 3;
        grid-row: 1;
        height: 120px;
    }

    .donateFlexboxCol{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 100%;
    }

    .donateText{
         width: 80%;
    }

    .award1 {
        all: unset;
        visibility: hidden;
        height: 0px;
    }

    .award2Flex {
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        margin-top: 150px;
        grid-column: 3;
        grid-row: 1;
    }

    .award2 {
        height: 150px;
    }

}