.bg{
    background-color: #979797;
    color: white;
}

.blank{
    opacity: 0;
}

.iconPad{
    padding-left: 10px;
}

.leftRow1{
    display: flex;
    justify-content: center;
}

.footerImageContainer{
    display: flex;
    justify-content: center;
}

.footerImage{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}

.footerStatement{
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footerBorderOut{
    margin-bottom: 20px;
}

.footerBorder{
    border-bottom: 1.5px solid;
    height: 35px;
    width: 70%;
    margin: auto;
}

.innerCol1, .innerCol2, .innerCol3{
    display: grid;
    grid-template-rows: repeat(5, 50px);
}

.phone, .email, .socialMedia, .copyright{
    background-color: #5c5a65;
}

.phone, .email{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.phone{
    padding-bottom: 15px;
    padding-top: 5px;
}

.socialMedia{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 35px;
}

.copyright{
    padding-top: 35px;
    display: flex;
    justify-content: center;
}

.footerImage{
    width: 250px;
}
 /**/
.leftRow1{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center; 
}

.leftRow2{
    display: flex;
    justify-content: center;
}

.rightRow1{
    display: grid;
    grid-gap: 20px;
    text-align: center;
    padding-top: 40px; 
}

.rightColumn{
    font-size: 18px;
}

.footerStatement{
    display: grid;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.sMediaGrid{
    padding-top: 5px;
}

/*between 700 and 1200*/
@media only screen and (min-width: 700px) and (max-width: 1199px){

}

/*above 700*/
@media only screen and (min-width: 700px) {

    .upperFlex{
        display: flex;
        justify-content: center;
    }

    .upperContainer{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1620px;
    }

    .rightColumn{
        display: grid;
        grid-template-rows: 1fr;
        padding: 20px;
    }

    .rightRow1, .rightRow2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .rightRow2{
        border-top: 1.5px solid;
        padding-top: 20px;
    }

    .innerCol4, .innerCol5, .innerCol6{
        display: grid;
        grid-template-rows: repeat(4, 50px);
    }

    .footerBorder{
        border-bottom: 1.5px solid;
        height: 35px;
        width: 85%;
    }
}

