.centerAllGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99px;
    background-color: white;
}

.headerGrid{
    color: black;
    height: 69px;
    display: grid;
    width: 100%;
    max-width: 1620px;
    grid-template-columns: 20px 185px 1fr minmax(100px, 180px) 20px;
}
.flexboxJustifyCenter{
    display: flex;
    justify-content: center
}

.flexboxJustStartAlignCent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexboxAllCenter{
    display: flex;
    justify-content: center;
    align-items: center 
}
.flexRightJustifyCenterAlign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pillButton{
    background-color: rgb(231, 231, 231);
    font-weight: 600;
    border-radius: 25px;
    height: 25px;
    padding: 3px;
    padding-left: 3px;
    padding-right: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: 25px auto;
    column-gap: 20px;
}
.pillIcon{
    background-color: white;
    border-radius: 50%;
    height: 100%
}
.pillLinkOutlined{
    border-radius: 25px;
    height: 25px;
    border: 2px solid rgb(180, 180, 180);
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    color: rgb(50, 50, 50);
}
.pillLinkFilled{
    border-radius: 25px;
    height: 25px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    color: whiteblack;
    background-color: #fd9f95;
}
.cursorPointer{
    cursor: pointer
}
.floatingDropdown{
    background-color: white;
    box-shadow: 2px 7px 20px 2px rgb(210, 210, 210);
    height: 300px;
    border-radius: 20px;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    width: 1000px;
    margin-left: 50%;
    margin-bottom: 500px;
    display: grid;
    grid-template-columns: 55% 45%
}
.quadItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    row-gap: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px
}
.dropdownBackground{
    background-color: white;
    border-radius: 9px;
    color: black;
    font-weight: 600;
}
.dropdownBackgroundSelect{
    animation: 1s ease-in-out colorChange;
    background-color: rgb(247 245 255);
    border-radius: 9px;
    font-weight: 600;
}
.dropdownItemParentGrid{
    display: grid;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    column-gap: 12px
}
.dropdownItemChildGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    row-gap: 4px;
}



.burger{
    visibility: hidden;
}

.donateOuterGrid{
    composes: flexboxAllCenter;
    height: 69px;
    grid-column: 4;
    grid-row: 1;
}

.donateButton{
    background-color: var(--color4);
    height: 50%;
    width: 100%;
    composes: flexboxAllCenter;
    border-radius: 20px;
    grid-row: 1;
}

.donate{
    cursor: pointer;
    color: var(--color2);
    font-weight: 900;
    font-size: 14px;
}

.largeWidthGrid{
    visibility: hidden;
    height: 0;
    grid-column: 3;
}

.siteLogo {
    grid-column: 2;
}

.hide{
    position: sticky;
    height: 0px;
    top: 0;
    z-index: 10;
}

/*above 1000px*/
@media only screen and (min-width: 1001px){

.hideOver1000{
    height: 0;
    visibility: hidden;
}

.centerLargeGrid {
    display: flex;
    justify-content: center;
}

.largeWidthGrid{
    font-size: 14px;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(5, minmax(70px, 100px));
    grid-template-rows: 69px auto;
    visibility: unset;
    height: unset;
}

.lwTitle{
    font-weight: 600;
    cursor: default;
}

.lwLink{
    font-weight: 600;
    cursor: pointer;
}

.relativeBlock{
    position: unset;
    width: 0;
}

.animatePopup[id="About Us"]:hover ~ .popupRowsSeparator[id="About Us"]{
    transform: scale(1);
    transition: transform 0.3s;
}

.animatePopup[id="Our Work"]:hover ~ .popupRowsSeparator[id="Our Work"]{
    transform: scale(1);
    transition: transform 0.3s;
}

.animatePopup[id="Events"]:hover ~ .popupRowsSeparator[id="Events"]{
    transform: scale(1);
    transition: transform 0.3s;
}

.popupGrowthInsurance:hover{
    
}

.popupRowsSeparator:hover{
    transform: scale(1);
    transition: transform 0.3s;
}

.popupRowsSeparator{
    transform: scale(0);
    display: grid;
    grid-template-rows: 10px auto;
    transition: transform 0.3s;
}

.popupRows{
    grid-row: 2;
    background-color: white;
    display: grid;    
    grid-auto-rows: 75px;
    margin-left: -70px;
    margin-right: -70px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px 0px;
}

.popupPointer{
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;
}

.popupPointer:hover{
    transform: scale(1.4);
    transition: transform 0.3s;
}

.popupStyle{
    font-weight: 500;
    font-size: 14px;
}

.hidePopupRows{
    visibility: hidden;
}
}

/*below 1000px*/
@media only screen and (max-width: 1000px){

.headerGrid{
    color: black;
    /* border-bottom: 2px solid black; */
    width: 100%;
    display: grid;
    grid-template-columns: 20px 200px minmax(20px, 1fr) minmax(60px, 100px) minmax(10px, 100px) ;
}

.siteLogo {
    grid-column: 2;
}

.donateOuterGrid{
    grid-column: 4;
}

.linkButton{
    visibility: hidden;
}

.hideUnder500{
    visibility: hidden;
}

.invisible{
    visibility: hidden;
    height: 0px;
}

.burger{
    visibility: visible;
    grid-column: 5;
    grid-row: 1;
    composes: flexboxAllCenter;
}

.swFullHeight{
    height: 100vh;
    background-color: white;
}

.coverSmallScreen{
    height: calc(100vh-20px);
    position: absolute;
    top: 69px;
    left: 0;
}

.smallWidthGrid{
    composes: coverSmallScreen;
    background-color: white;
    padding-top: 20px;
    margin-top: 2px;
    display: grid;
    grid-template-rows: repeat(6, 75px);
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    top: 47px;
    /* overflow: scroll; */

}

.expand{
    transform: scale(1);
    opacity: 1;
    transition: transform 0.2s ease, opacity 0.1s linear 0.1s;
}

.condense{
    transform: scale(0);
    opacity: 0;
    transition: transform 3s linear, opacity 0.2s linear;
}

.swTitle{
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    color: unset;
}

.swTitleGrid{
    display: grid;
    grid-template-columns: 200px 1fr minmax(60px, 100px);
    border-bottom: solid #e2e2e2;
    cursor: pointer;
    text-decoration: none;
    color: unset;
}

.subLinksGrid{
    position: absolute;
    background-color: white;
    padding-top: 20px;
    display: grid;
    grid-template-rows: repeat(6, 75px);
    font-size: 18px;
    top: 49px;
    width: 100vw;
    height: 100vh;
}

.relativeBlock{
    position: fixed;
    width: 100%;
}

.subLinkTitle{
    cursor: default;
    font-size: 30px;
    font-weight: 900;
    grid-column: 2;
}

.subLinkTitleGrid{
    display: grid;
    grid-template-columns: 60px 1fr;
}


.slideIn{
    composes: subLinksGrid;
    transform: translate(0%);
    width: 100vw;
    transition: all .2s linear;
}

.slideOut{
    composes: subLinksGrid;
    transform: translate(200%);
    transition: all .2s linear;
}

.zap{
    composes: subLinksGrid;
    transform: scale(0);
    opacity: 0;
}

.arrow{
    grid-column: 3;
}

.arrowLeft{
    grid-column: 1;
}
}