.huge {
    font-size: 64px;
    font-weight: 900;
    line-height: 70px;
    margin-top: 50px;
}

.color2 {
    color: var(--color2);
}

.backgroundColor1 {
    background-color: var(--color1);
}

.backgroundColor2 {
    background-color: var(--color2);
}


