.maxWidth {
    max-width: 1620px;
}


.huge {
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    margin-top: 50px;
}

.color2 {
    color: var(--color2);
}

.borderColor {
    border-bottom: 2px solid var(--color2);
}

.backgroundColor1 {
    background-color: var(--color1);
}

.backgroundColor2 {
    background-color: var(--color2);
}

.color1 {
    color: var(--color1);
}

.maxWidth {
    width: 100%;
}

.quoteSizing {
    max-width: 800px;
    height: 100px;
}

.testimonialSizing {
    height: 500px;
}

.cardShadow {
    box-shadow:
    -3em 5em 6em -2em rgba(0,0,0,.4),
    -4em 2em 3.5em -2.5em rgba(0,0,0,.4);
}

.cardShadowSubtle {
    box-shadow:
    -2em 5em 6em -2em rgba(0,0,0,.4),
    -3em 2em 3.5em -2.5em rgba(0,0,0,.4);
}

.imageResize {
    height: 500px;
    width: 95%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;  
 transform:
    rotate3d(.5,1,0,15deg)
    rotate(0deg);
  box-shadow:
    -3em 5em 6em -2em rgba(0,0,0,.4),
    -4em 2em 3.5em -2.5em rgba(0,0,0,.4);
  transition:
    transform .4s ease,
    box-shadow .4s ease;
  border-radius: .5em;

  &:hover {
    transform:
      rotate3d(0,0,0,0deg)
      rotate(0deg);
  }
}

.mhfImage {
    background-image: url("../images/events/Mentalhealthfair.jpeg");
    background-position: top -150px right 0px;
}

.sfImage {
    background-image: url("../images/general/ServingFood.jpg");
    background-position: top -150px right 0px;
}

.donutsImage {
    background-image: url("../images/events/donuts.jpeg");
    background-position: top -50px right 0px;
}

.fdImage {
    background-image: url("../images/events/foodDelivery.jpeg");
    background-position: top -20px right;
}

.sponsorPhoto {
    background-image: url("../images/general/IMG_6364.jpg");
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.donationPhoto {
    background-image: url("../images/general/Homepage.PNG");
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.sponsorHeight {
    height: 320px;
}

.sponsorTitle {
    font-size: 68px;
    line-height: 70px;
}

.donationTitle {
    font-size: 48px;
    line-height: 50px;
}

@media only screen and (min-width: 992px) {
    .shrinkButton {
        max-width: 190px;
    }
}

@media only screen and (max-width: 1200px) {

    .hideUnder1200 {
        visibility: hidden;
    }

    .revealUnder1200 {
        visibility: visible;
        height: unset;
    }

    .cardShadowSubtle {
        box-shadow:
        -3em 5em 6em -2em rgba(0,0,0,.4),
        -4em 2em 3.5em -2.5em rgba(0,0,0,.4);
    }
}

