

.columnFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parentFont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 42px;
    color:#444;
}

.subTitle {
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}

.firstBG {
    height: 350px;
    background-image: url("../images/events/MentalHealthFair_Events.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

.titleBlock {
    padding-top: 120px;
}

.tinyTitle {
    font-size: 14px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 45px;
}

.title {
    font-size: 52px;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 45px;
    line-height: 60px;
}

.barrier {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 45px;
}

.barrierLineFlex {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.barrierBall {
    background-color: #444;
    border-radius: 100px;
    height: 7px;
    width: 7px;
}

.barrierLineInnerFlex {
    width: 100%;
    display: flex;
    align-items: center;
}

.barrierLine {
    width: 100%;
    height: 2px;
    background-color: #444;
}

.missionStatement {
    font-size: 18px;
    line-height: 27px;
    font-weight: 100px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 45px;
}

.phraseBlock {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 45px;
}

.linkButtonFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 190px;
    height: 40px;
    border: 1px solid;
    margin-top: 35px;
    font-weight: 700;
    margin-left: 50px;
    margin-right: 45px;
    transition: all 0.2s;
    background-color: #444;
    color: white;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.linkButtonFlexLearn {
    composes: linkButtonFlex;
    width: 135px;
}

.linkButtonFlexReverse {
    composes: linkButtonFlex;
    background-color: white;
    color: #444;
}

.linkButtonFlexImpact {
    composes: linkButtonFlex;
    width: 320px;
}

.linkButton {
    font-size: 16px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #444;
    margin-top: 85px;
}

.subBlock {
   
}

.openSpaceBlock {
    background-color: #444;
    color: white;
    padding-bottom: 85px;
    padding-top: 60px;
}

.calendarContainer {
    display: flex;
    justify-content: center;
}

.calendar {
    background-color: white;
    width: 290px;
    transform:
      rotateX(50deg);
    transform-style: preserve-3d;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 3px;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-top: 5px;
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 0, 0.01),
      10px 28px 28px 0 rgba(0, 0, 0, 0.4);
      transition:
      0.6s ease-in-out transform,
      0.6s ease-in-out box-shadow;
}

.restingCalendar {
    animation-name: resetFloating;
    animation-duration: 0.5s;
}

@keyframes resetFloating {
    from {
        transform: translate3d(0px, -16px, 0px)
        scale(1.05, 1.05)
        rotateX(15deg);
    }

    to {
        transform: translate3d(0px, 0px, 0px)
        scale(1, 1)
        rotateX(50deg);
    }
}

.floatingCalendar {
      transform:
        translate3d(0px, -16px, 0px)
        rotateX(15deg)
        scale(1.05, 1.05);
        box-shadow:
        1px 1px 0 1px #f9f9fb,
        -1px 0 28px 0 rgba(34, 33, 0, 0.01),
        55px 30px 28px -10px rgba(0, 0, 0, 0.27);
        animation-name: floating;
        animation-delay: 600ms;
        animation-duration: 1.7s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

@keyframes floating {
    from {
        transform: translate3d(0px, -16px, 0px)
        scale(1.05, 1.05)
        rotateX(15deg);
    }   
    
    to {
        transform: translate3d(0px, -8px, 0px)
        scale(1.05, 1.05)
        rotateX(15deg);
    }
}

.smallTitle {
    padding-top: 10px;
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 45px;
}

.phraseBlockMinor {
    composes: phraseBlock;
}

.homepagePhoto {
    height: 100vw;
    width: 100%;
    background-size: contain;
    background-position: -110px;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

.listFlex {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 45px;
}

.listElementFlex {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    font-size: 18px;
}

.fontawesomeFlex {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    margin-right: 5px;
}

.carouselButtonPosition {
    position: absolute;
    height: 100%;
    width: 100%;
    
}

.carouselButtonInnerFlex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselBlock {
    padding-top: 85px;
    height: 500px;
    display:flex;  
    align-items:center;  
    justify-content:center;  
    position: relative;
}

.imageResize {
    height: 100%;
    width: 100%;
    position: absolute;
}

.linkButtonFlexEvents {
    composes: linkButtonFlex;
    
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }

.carouselContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

.arrowContainer {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftArrow {
    left: 20px;
}

.rightArrow {
    right: 20px;
}

.arrowButton {
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
    background: rgb(255, 255, 255, 0.8);
    width: 36px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
}

.carouselButton {
    position: absolute;
    bottom: 10%;
    right: 60%;
}

.carouselElementsFlex {
    display: flex;
    flex-direction: column;

}