.simpleTitle{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.simpleFlex{
    display: flex;
    justify-content: center;
}

.size18Font{
    font-size: 18px;
}

.lineHeight30{
    line-height: 30px;
}

.padding50{
    padding: 50px;
}

.padding20{
    padding: 20px;
}

.maxWidth{
    max-width: 1620px;
}

.width80Per{
    width: 80%;
}

.padBottom40{
    padding-bottom: 40px;
}

.padTop40{
    padding-top: 40px;
}

.padTop20{
    padding-top: 20px;
}

.padTop10{
    padding-top: 10px;
}

.padTop5{
    padding-top: 5px;
}

ul.no-bullets{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.italicize{
    font-style: italic;
}

.centerText{
    text-align: center;
}

.submitButton{
    background-color: #3c2d73;
    color: white;
    height: 70%;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorGreen{
    color: #00c8a1;
}

.colorRed{
    color: #ff4040;
}