@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

html{
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    overflow-x: hidden;  
}

.pageContainer{
    position: relative;
    min-height: 100vh;
}

.contentWrapper{
    height: 1300px;
}

.simpleTitle{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.simpleFlex{
    display: flex;
    justify-content: center;
}

.verticalAlign{
    display: flex;
    align-items: center;
}

.size18Font{
    font-size: 18px;
}

.size22Font{
    font-size: 22px;
}

.size24Font{
    font-size: 24px;
}

.size28Font{
    font-size: 28px;
}

.size26Font{
    font-size: 26px;
}

.size30Font{
    font-size: 30px;
}

.size36Font{
    font-size: 36px;
}

.lineHeight35{
    line-height: 35px;
}

.lineHeight30{
    line-height: 30px;
}

.lineHeight25{
    line-height: 25px;
}

.padding50{
    padding: 50px;
}

.padding20{
    padding: 20px;
}

.maxWidth{
    max-width: 1620px;
}

.width80Per{
    width: 80%;
}

.width60Per{
    width: 60%;
}

.padBottom40{
    padding-bottom: 40px;
}

.padBottom80{
    padding-bottom: 80px;
}

.padBottom20{
    padding-bottom: 20px;
}

.padTop40{
    padding-top: 40px;
}
.padTop80{
    padding-top: 80px;
}

.padTop20{
    padding-top: 20px;
}

.padTop10{
    padding-top: 10px;
}

.padTop5{
    padding-top: 5px;
}

.marginTop20{
    margin-top: 20px;
}

.height100{
    height: 100px;
}

ul.no-bullets{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.weight500{
    font-weight: 500;
}

.italicize{
    font-style: italic;
}

.centerText{
    text-align: center;
}

.leftText{
    text-align: left;
}

.rightText{
    text-align: right;
}

.testMe{
    color: white;
    background-color: #3c2d73;
    height: 70%;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton{
    text-decoration: none;
    background-color: #3c2d73;
    color: white;
    height: 70%;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton1{
    text-decoration: none;
    background-color: #3c2d73;
    color: white;
    height: 70px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton2{
    text-decoration: none;
    background-color: #3c2d73;
    color: white;
    height: 100%;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.colorGreen{
    color: #00c8a1;
}

.colorRed{
    color: #ff4040;
}

.styleLink{
    text-decoration: none;
    color: black;
}

.simpleTitleGrid{
    display: grid;
    grid-template-rows: 10% 90%;
}

.volPosGrid{
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
}

.volPosTitle{
    padding-top: 35px;
    padding-bottom: 20px;
}

.volPosBullet{
    padding-top: 5px;
    padding-bottom: 10px;
}

.financialPlan{
    background-color: #f2f2f2;
    border-radius: 8px;
}

.fpGrid{
    display: grid;
    grid-template-rows: repeat(7, auto);
    row-gap: 20px;
}

#fontawesomeIconStorage{
    display: none;
}

.cancelAppCard{
    height: 300px;
    width: 300px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%)
}

.cAgrid{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100%;
    border-radius: 9px;
}

.cAleft{
    grid-column: 1;
}

.cAcenter{
    grid-column: 2;
    display: grid;
    grid-template-rows: 10% 30% 30% 20% 10%;
}

.cAright{
    grid-column: 3;
}

.cAdate{
    grid-row: 2;
}

.cAbutton{
    color: white;
    background-color: #3c2d73;
    text-align: center;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.noBorder{
    border: unset;
}

.centerFlex{
    display: grid;
    justify-content: center;
    align-items: center;
}

.lawButton{
    background-color: black;
    color: white;
    border-radius: 8px;
    height: 90px;
    width: 300px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.bigLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logoResize{
    width: 350px;
}

.cardGrid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
}

.bylawTitle{
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.bottomPad{
    padding-bottom: 90px;
}


.lawGrid{
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    background-color: pink;
}

.constructSticky{
    position: sticky;
    top: 0;
    height: 20px;
    display: flex;
    justify-content: center;
    background-color: #6a3de5;
    z-index: 1;
}

.constructContent{
    color: white;
    font-weight: 600;
}

.dContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.dText{
    background-color: #f2f2f2;
    text-align: center;
    font-size: 18px;
    max-width: 85%;
    border-radius: 15px;
    line-height: 30px;
    padding: 10px;
}

.eDflex{
    display: flex;
    justify-content: center;
}

.eDgrid{
    width: 80%;    
}

.eDtitle{
    font-size: 20px;
}

.eDcontent{
    line-height: 30px;
    
}

.dContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.sT{
    background-color: #f2f2f2;
    border-radius: 15px;
    height: 80px;
    margin-bottom: 50px;
    font-weight: 600;
}

.perkAndFormGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 250px 150px 1fr;
}

.superSponsorContainer{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;
    border: solid 5px #3c2d73;
    background-color: #e7e1fd;
}

.sponsorContainer{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 258px 1fr 1fr;
}

.sponsorBoxTitleFlex{
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-top: 40px;
}

.fieldContainer{
    display: grid;
    grid-template-rows: 66px 66px 126px;
    grid-template-columns: minmax(140px, auto) minmax(140px, auto);
}

textarea{
    resize: none;
    font-style: italic;
    grid-column: 1/3;
    font-weight: 600;
    border: 0;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
}

input{
    font-style: italic;
    font-weight: 600;
}

input::placeholder, textarea::placeholder{
    font-size: 16px;
}

input[type=text], textarea[type=text]{
    padding-left: 10px;
}

textarea[type=text]{
    padding-top: 20px;
    font-size: 18px;
}

.b1{
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
}

.b2{
    border-top: solid 1px;
    border-right: solid 1px;
}

.b3{
    border-left: solid 1px;
    border-right: solid 1px;
}

.b4{
    border-right: solid 1px;
}

.horizontalEnd{
    display: flex;
    justify-content: flex-end;
}

.captcha{
    background-color: lightgrey;
    width: 200px;
    height: 80%;
}

.formButton{
    background-color: #3c2d73;
    color: white;
    width: 200px;
    height: 80%;
}

.mScontainer2{
    width: unset;
}

.ffBig{
    padding-top: 40px;
    font-size: 36px;
}

.ffMedium{
    padding-top: 40px;
    font-size: 28px;
}

.ffSmall{
    font-size: 20px;
}

.resizeImage{
    width: 240px;
    height: 261px;
    background-image: url("../../images/BNYCitySmall.png");
}

.thankYou{
    text-align: center;
}

.ofsTitle{
    text-align: center;
}

.flexFix{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-column: 2;
    grid-row: 3;
}

.heightFix{
    height: 200px;
}

.ghEmail{
    grid-column: 2;
    grid-row: 1;
}

.ghPhone{
    grid-column: 2;
    grid-row: 2;
}

.contactGrid{
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 1fr);
}

.cgColumnGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.test{
    grid-row: 2;
}

.emailGrid{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 150px 50px 70px 80px;
    grid-template-columns: 1fr;
    row-gap: 5px;
    column-gap: 5px;
    
}

.bottomBorderLine{
    border-bottom: solid 1px black;
    display: flex;
    align-items: flex-end;
}

.placeholderCaptcha{
    display: flex;
    align-items: center;
    grid-row: 7;
}

input{
    font-size: 16px; 
    border: 0px;
    border-bottom: solid 1px black;
}

input::placeholder{
}

textarea[type="big"]::placeholder{
    transform: translateY(650%);
    text-align: left;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}



.styleEmGrid{
    height: 100%;
    width: 100%;
}

input[type="email"]::placeholder{
    position: absolute;
    top: 25px;
}

.fName, .fPhone, .fEmail, .fSubject, .bigTextArea, .callback{
    background-color: rgb(251, 250, 249);
}

.fPhone{
    grid-row: 2;
}

.fEmail{
    grid-row: 3;
}

.fSubject{
    grid-row: 4;
}

.bigTextArea{
    border-right: 0;
    border-left: 0;
    grid-row: 5/6;
}

.callback{
    grid-column: 1/3;
}

.getHelpButton{
    grid-row: 8;
    grid-column: 1/3;
}

.down{
    z-index: -5;
}

.linkToBlack{
    text-decoration: none;
    color: black;
}


.statement{
    grid-row: 2;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
}

.titleBackground{
    background-image: url("../../images/folksAndFood.webp");
    background-position: 50% 75%;
    height: 750px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.tbAlpha{
line-height: 120px;
background-color: rgba(0, 0, 0, 0.55);
height: 100%;
width: 100%;
display: grid;
grid-template-columns: 1fr 80% 1fr;
grid-template-rows: 50% 1fr;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.tbText{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 85px;
}

.statePhotoContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 25%;
    padding-right: 25%;
    grid-column: 2;
    padding-top: 30px;
    height: 225px;
}

.statementPhoto{
    height: 100%;
    border-radius: 6px;
    box-shadow:  0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.videoContainer{
    background-color: pink;
    width: 100%;
    height: 50%;
}


.catBoxContainer{
   
    padding-top: 10px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.catBox{
    background-color: white;
    height: 225px;
    width: 100%;
    border-radius: 5px;;
    font-weight: 700;
    font-size: 22px;
    align-items: center;
    width: 90%;
    text-align: center;
}

.catGrid{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 80%;
    height: 100%;
    width: 100%;
}

.gridTitle{
    grid-column: 1/4;
    
    font-size: 38px;
    color: #9861ff;
}

.catText{
    grid-row: 2;
    grid-column: 2;
    font-size: 24px;
    line-height: 35px;
}

.hei{
    height: 100%;
}

.bigStatement{
    font-size: 32px;
    padding-top: 100px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}

.subStatement{
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 70px;
}

.mScontainer{
    color: white;
    /* background: linear-gradient(to right top, rgb(221, 64, 200), rgb(255, 120, 9)); */
    background-color: #f2f2f2;
    color: black;
    display: grid;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%;
}

.ssBoxContainer{
    color: white;
    background-color: #f2f2f2;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%;
}

.borderTop{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.borderBottom{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.borderBoth{
    border-radius: 15px;
}

.shiftLeft{
    text-align: center;
}

.shiftRight{
    text-align: center;
}

.slideshow1, .slideshow2, .slideshow3, .slideshow1Left, .slideshow1Right{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow2{
}

.slideshow3{
    grid-column: 1;
}

.slideshowContain{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slideshowContainLeft{}

.padText{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 35px;
}


.missionStatement{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 25px;
    overflow: hidden;
    background-color: #f2f2f2;
    width: 90%;
}

.volTitle, .volText1, .volText2, .volBtnOut{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.volTitle, .volBtnOut{
    font-size: 32px;
}

.volBtnIn{
    background-color: #3c2d73;
    color: white;
    height: 70%;
    width: 60%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volText1, .volText2{
    font-size: 22px;
    line-height: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.volCol2{
    color: black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.doubleGrid{
    display: grid;
    row-gap: 20px;
    grid-template-rows: 1fr 1fr;
    height: 150px;
}

.cardFlex{
    display: flex;
    justify-content: center;
}

.cardContainer{
    height: 500px;
    width: 385px;
    border-radius: 10px;
    box-shadow: 0px 6px 80px -42px;
}

.person{
    height: 60%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    object-position: 0% 28%;
    grid-row: 1;
}

.infoGrid{
    grid-row:2;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 10% 1fr 10%;
    height: 40%;
}

.name{
    grid-row: 2;
    grid-column: 2;
    font-weight: 700;
    font-size: 21px;
}

.title{
    display: flex;
    align-items: flex-start;
    grid-row: 4;
    grid-column: 2;
    font-size: 17px;
}

.moreAbout, .moreAbout2{
    grid-row: 6;
    grid-column: 2;
    font-weight: 600;
    font-size: 17px;
    color: #3c2d73;
}

.cardDescriptor{
    height: 60%;
    width: 100%;
    overflow-y: scroll;
    font-size: 20px;
    line-height: 40px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}

.cardText{
    grid-column: 2;
}

.bookingTitle{
    text-align: center;
}

.calendarAppGrid{
    display: grid;
}

.bookingInfoGrid{
    display: grid;
    grid-template-rows: 10px 40px 10px 20px 40px 20px 40px 20px 40px 20px 200px 200px;
    grid-template-columns: minmax(300px, 700px);
    row-gap: 25px;
}

.bCol1{
    grid-column: 1;
}

.borderBlack{
    border: solid black 1px;
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderTopSolid{
    border-top: solid black 1px;

}

.confirmationBox{
    grid-column: 1;
    grid-row: 12;
}

.appCol1{

}

.appCol2{
   display: flex;
   justify-content: center;
}

.mtSwitchGrid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 10% 10% 15% 15%;
    width: 630px;
}

.mtArrow{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mtToday{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dayGrid{
    display: grid;
    grid-template-columns: repeat(7, 90px);
}

.calendar{
    display: grid;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: repeat(7, 60px);
}

.calTile{
    border: 0.05rem solid gray;
}

.calTile:hover{
    background-color: rgb(203, 255, 211);
    font-weight: 600;
    font-size: 18px;
}

.calTileSelected{
    border: 0.15rem solid black;
    background-color: rgb(44, 123, 44);
    color: white;
}

.calTileSelected:hover{
    border: 0.15rem solid black;
    background-color: rgb(44, 123, 44);
    color: white;
}

.invalid{
    border: 0.05rem solid rgb(230, 230, 230);
    color: rgb(230, 230, 230);
}

.invalid:hover{
    background-color: unset;
    font-size: unset;
    font-weight: unset;

}

.dayPeriodGrid{
    display: grid;
    grid-template-columns: repeat(3, 184px);
    column-gap: 40px;
}

.infoBoxGrid{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    width: 260px;
    height: 240px;
    border: 0.05rem solid gray;
}

.infoBox{
    display: grid;
    grid-template-rows: 20px 40px 40px 80px 40px 20px;
    
  
}

.ibTitle{
    font-size: 22px;
}

.timeInfo{
    display: flex;
    align-items: center;
    border-bottom: 0.05rem solid gray;
    width: 200px;
}

.dateSelected{
    display: flex;
    align-items: center;
}

.nextButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c2d73;
    color: white;
}

.morning, .afternoon, .evening{
    color: black;
    text-align: center;
    padding-bottom: 80px;
}

.mStyle, .aStyle, .eStyle{
    height: 50px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.05rem solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mStyle:hover, .aStyle:hover, .eStyle:hover{
    font-weight: 600;
    border: 0.15rem solid black;
}

.invalidTime{
    border: 0.05rem solid rgb(230, 230, 230);
    color: rgb(230, 230, 230);
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visibleNo{
    display: none;
}

.slideTextAlignLeft{
    text-align: left;
}

.slideTextAlignRight{
    text-align: right;
}

.bookSessionGrid{
    display: grid;
    grid-template-columns: 10% 10% 300px;
}

.fixIcon{
    transform: translateY(38%);
    color: black;
}

.submitButton1{
    grid-column: 3;
    width: 300px;
    text-decoration: none;
}

.donateButtonContainer{
    width: 300px;
    margin: auto;
    position: relative;
    z-index: 0;
}

.donatePhoto{
    background-image: url("../../images/folksAndFood.webp");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.donateAlpha{
    line-height: 120px;
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.donateFont{
    color: white;
    font-size: 42px;
    font-weight: 600;
}

@media screen and (min-width: 700px){

    .contentWrapper{
        height: 1099px;
    }

    .msContainerMain{
        width: 90%;
    }

}


@media screen and (max-width: 700px){
  
    .calendar{
        grid-template-columns: repeat(7, 50px);
        grid-template-rows: repeat(7, 60px);
    }

    .dayGrid{
        display: grid;
        grid-template-columns: repeat(7, 50px);
    }

    .mtSwitchGrid{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 50% 10% 10% 15% 15%;
        width: 350px;
    }

    .dayPeriodGrid{
        display: grid;
        grid-template-columns: repeat(3, 90px);
        column-gap: 40px;
    }

}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  
    .cardGrid{
        grid-template-columns: 1fr 1fr;
    }

    .sT{
        height: unset;
    }

    .tbText{
        font-size: 48px;
        line-height: 100px;
    }

    .statePhotoContainer{
        height: 300px;
    }

    .catBox{
        width: 45%;
    }

    .textGrid1, .textGrid2{
        display: grid;
        margin: 25px; 
    }

    .volText1, .volText2{
        padding-left: 150px;
        padding-right: 150px;
    }
    
    .doubleGrid{
        display: grid;
        height: 120px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .cardContainer{
        width: 270px;
    }

    .cardGrid{
    }

}

@media screen and (min-width: 1200px){
    
    .cardGrid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .lawGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: unset;
    }

    .dText{
        max-width: 92%;
    }

    .eDgrid{
        width: 90%;
    }

    .treeGrid{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .innerTreeGrid{
        display: grid;
        grid-row: 1;
        grid-column: 2;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .item1{
        grid-row: 1;

    }
    .item2{
        grid-row: 2;
    }
    .item3{
        grid-row: 3;
    }
    .item4{
        grid-row: 1;
        grid-column: 1;

    }
    .item5{
        grid-row: 2;
        grid-column: 1/3;
    }

    .perkAndFormGrid{
        display: grid;
        grid-template-columns: 20% 5% 75%;
        grid-template-rows: 150px 410px 120px 1fr;
    }

    .superSponsorContainer{
        grid-column: 3;
        grid-row: 1/4;
    }

    .instructions{
        grid-row: 3;
    }

    .perks{
        grid-column: 1;
        grid-row: 2;
    }

    .fSgrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .thankYou{
        grid-column: 4;
        max-width: 434px;
        text-align: left;
    }

    .col1breakpoint{
        display: grid;
    }

    .padTop40{
    }

    .resizeImage{
        width: 547px;
        height: 710px;
        background-image: url("../../images/BNYCity.png");
    }

    .emailGrid{
        display: grid;
        grid-template-rows: 50px 50px 50px 50px 150px 50px 70px 80px;
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
        column-gap: 10px;
    }

    .fPhone{
        grid-row: 1;
        grid-column: 2;
    }
    
    .fEmail{
        grid-row: 2;
        grid-column: 1;
    }
    
    .fSubject{
        grid-row: 2;
        grid-column: 2;
    }

    .tbText{
        font-size: 75px;
        line-height: 110px;
    }

    .statementContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
    }

    .statement{
        grid-column: 1;
        grid-row: 1;
        display: flex;
        align-items: center;
        font-size: 48px;
        line-height: unset;
    }

    .subStatement{
        padding-bottom: 145px;
    }

    .statePhotoContainer{
        height: 300px;
    }

    .catBox{
        width: 25%;
    }

    .mScontainer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        padding-right: 0px;
        line-height: 35px;
        overflow: hidden;
    }

    .ssBoxContainer{
        color: white;
        background-color: #f2f2f2;
        color: black;
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 25px;
        overflow: hidden;
        width: unset;
    }

    .textGrid1{
        grid-column: 2;
    }

    .textGrid1Left{
        grid-column: 1;
        grid-row: 1;
    }

    .textGrid1Right{
        grid-column: 2;
        
    }

    .textGrid2{
        grid-column: 1;
        grid-row: 1;
    }

    .slideshow1{
        grid-column: 1;
    }

    .slideshow1Left{
        grid-column: 2;
    }

    .slideshow2{
        grid-column: 2;
    }

    .textGrid1, .textGrid2, .textGrid1Left, .textGrid1Right{
        display: grid;
        margin: 25px; 
    }

    .shiftLeft{
        text-align: left;
    }
    
    .shiftRight{
        text-align: right;
    }

    .volText1, .volText2{
        padding-left: 50px;
        padding-right: 50px;
    }

    .volGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        color: white;
        margin-bottom: 25px;
        width: 95%;
    }

    .slideshow3{
        grid-column: 1;
        width: 100%;
    }

    .volCol2{
        display: grid;
        grid-template-rows: 80px 75px 150px 1fr;

    }

    .doubleGrid{
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
       
    .cardContainer{
        width: 290px;
    }

    .calendarAppGrid{
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr ;
        column-gap: 80px;
    }

    .appCol2{
        grid-column: 2;
    }

    .bookingTitle{
        text-align: unset;
    }

    .bookingInfoGrid{
        display: grid;
        grid-template-rows: 10px 40px 10px 20px 40px 20px 40px 20px 40px 20px 100px 1fr;
        grid-template-columns: minmax(300px, 1200px) 100px 1fr;
        row-gap: 25px;
    }    

    .bCol1{
        grid-column: 1;
    }
    
    .confirmationBox{
        grid-column: 3;
        grid-row: 1/8;
    }
}

@media screen and (max-width: 1200px){
    .slideTextAlignLeft{
        text-align: center;
    }
    .slideTextAlignRight{
        text-align: center;
    }
    .donateFont{
        line-height: 90px;
    }
}