.slideTextAlignLeft{
    text-align: left;
}

.slideTextAlignRight{
    text-align: right;
}


@media screen and (max-width: 1200px){
    .slideTextAlignLeft{
        text-align: center;
    }
    .slideTextAlignRight{
        text-align: center;
    }
}
