.bookSessionGrid{
    display: grid;
    grid-template-columns: 10% 10% 300px;
}

.fixIcon{
    transform: translateY(38%);
    color: black;
}

.submitButton1{
    grid-column: 3;
    width: 300px;
}