@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

:root {
    --color0: white;
    --backgroundColor: rgb(226, 229, 250);
    --color1: #080B38;
    --color2: #000000;
    --color3: #AFB0C7;
    --iconColor: #5d55ce;

    --no-of-slides: 8;
    --slides-in-view: 4;
    --slide-width: 500px;
    --iteration-time: 42s;

    --spacing: 1px;
}

body {
    background-color: var(--color0);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 20px;
}

ul {
    list-style-position: inside;
}

.ulNoBullet {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.eventAttributes {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background-color: #000000af;
}

.iframeFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}



.cancelPopup {
    margin-top: 30px;
    margin-right: 15px;
}

.unsetPadding {
    padding: unset;
}

.maxWidth {
    max-width: 1620px;
}

.maxWidth400px {
    max-width: 400px;
}
.sponsorDescription {
    max-width: 550px;
}

.huge {
    font-weight: 900;
    line-height: 70px;
    margin-top: 50px;
}

.categoryFont {
    font-size: 42px;
    line-height: 45px;
    font-weight: 700;
}

.largerDescriptionFont {
    font-size: 32px;
    line-height: 40px;
}

.descriptionFont {
    line-height: 30px;
}

.separator {
    border-top: 2px solid rgba(0, 0, 0, 0.493);
    padding-top: 30px;
    margin-top: 30px;
}

.titleStatement {
    padding-top: 50px;
    font-size: 42px;
    line-height: 45px;
    font-weight: 600;
    color: white;
}

.mainButton {
    width: 90%;
    max-width: 240px;
    height: 55px;
    background-color: #f5dd42;
    color: black;
    border: 1px solid #212529;
    font-size: 28px;
}

.learnMoreButton {
    background-color: #5D55CE;
    color: white;
    border: 2px solid #212529;
    font-size: 28px;
    width: 90%;
    max-width: 240px;
    height: 55px;
}

.scheduleApp {
    composes: mainButton;
    max-width: 400px;
}

.mainButtonContainer {
    display: flex;
    justify-content: center;
}

.secondaryButton {
    color: black;
    border: unset;
    font-size: 24px;
}

.eventsDonateButton {
    min-width: 360px;
}

.eDBFix {
    margin-left: 0;
}

.iconColor {
    color: var(--iconColor);
}

.bgColor {
    background-color: #1D1D1D;
}

.topBorderColor {
    border-top: 2px solid var(--iconColor);
}

.responsiveTitle {
    font-size: clamp(30px, 12.5vw, 120px);
    line-height: 40px;
    font-weight: 900;
}

.titleRelativeUp {
    position: relative;
    top: -15px;
    text-align: center;
}

.titleRelativeDown {
    position: relative;
    top: -83px;
    text-align: center;
}

.imageRestrict {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0)), url('../images/homepage/Home page.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    max-height: 1000px;
    height: 700px;
}

.emailLink {
    color: #5D55CE;
    text-decoration: underline;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
    }
}

.carousel {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.carouselWrapper {
    display: flex;
    align-items: center;
    width: calc(var(--slides-in-view) * var(--slide-width));
    overflow: hidden;
}

.animateSlider {
    animation: slide var(--iteration-time) linear infinite;
    width: var(--slide-width);
}

.shrinkImage {
    width: 500px;
    height: 375px;
    max-width: unset !important;
}

.customPaddingTop {
    padding-top: 30px;
}

.colorText {
    color: var(--color2);
}

.color2 {
    color: var(--color2);
}

.bottomBorderColor {
    border-bottom: 2px solid var(--color2);
}

.backgroundColor0 {
    background-color: var(--color0);
}

.backgroundColor1 {
    background-color: var(--color1);
}

.backgroundColor2 {
    background-color: var(--color2);
}

.backgroundColor3 {
    background-color: var(--color3);
}

.backgroundLight {
    background-color: var(--backgroundColor);
}

.color1 {
    color: var(--color1);
}

.maxWidth {
    width: 100%;
}

.quoteSizing {
    max-width: 800px;
    height: 100px;
}

.testimonialSizing {
    height: 600px;
}

.cardShadow {
    box-shadow:
    -3em 5em 6em -2em rgba(0,0,0,.4),
    -4em 2em 3.5em -2.5em rgba(0,0,0,.4);
}

.cardShadowSubtle {
    box-shadow:
    -2em 5em 6em -2em rgba(0,0,0,.4),
    -3em 2em 3.5em -2.5em rgba(0,0,0,.4);
}

.imageResize {
    height: 500px;
    width: 95%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;  
 transform:
    rotate3d(.5,1,0,15deg)
    rotate(0deg);
  box-shadow:
    -3em 5em 6em -2em rgba(0,0,0,.4),
    -4em 2em 3.5em -2.5em rgba(0,0,0,.4);
  transition:
    transform .4s ease,
    box-shadow .4s ease;
  border-radius: .5em;

  &:hover {
    transform:
      rotate3d(0,0,0,0deg)
      rotate(0deg);
  }
}

.sponsorPhoto {
    background-image: url("../images/homepage/IMG_6364.jpg");
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.donationPhoto {
    background-image: url("../images/homepage/Homepage.PNG");
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.sponsorHeight {
    height: 320px;
}

.sponsorTitle {
    font-size: 68px;
    line-height: 70px;
}

.donationTitle {
    font-size: 72px;
    line-height: 78px;
}

.barLine {
    width: 100%;
    margin-top: 17px;
    border-top: 1px solid var(--color1);
    opacity: 50%;
    background-color: black;
}

.missionStatementFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.maxWidth1000px {
    max-width: 1000px;
}

.greyBackground {
    background-color: #ececec;
}

.redecorate {
    text-decoration: underline;
}

@media only screen and (min-width: 578px) {

    .imageRelative {
        position: relative;
        top: -50px;
        z-index: -1;
    }
    
    .titleRelativeUp {
        position: relative;
        top: 25px;
    }

    .titleRelativeDown {
        position: relative;
        top: -120px;
    }

}

@media only screen and (min-width: 600px) {
    .testimonialSizing {
        height: 540px;
    }


}

@media only screen and (min-width: 768px) {
    .mainButton {
        width: 320px;
        height: 55px;
        margin-left: 25px;
    }

    .mainButtonContainer {
        display: flex;
        justify-content: center;
    }

    .titleStatement {
        text-align: center;
    }

    .imageRestrict {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 30%;
        max-height: 1000px;
        height: 700px;
    }
}

@media only screen and (min-width: 992px) {
    .shrinkButton {
        max-width: 190px;
    }

    .iframeAttributes {
        width: 700px;
        height: 906px;
    }

}

@media only screen and (max-width: 1200px) {

    .hideUnder1200 {
        visibility: hidden;
    }

    .revealUnder1200 {
        visibility: visible;
        height: unset;
    }

    .cardShadowSubtle {
        box-shadow:
        -3em 5em 6em -2em rgba(0,0,0,.4),
        -4em 2em 3.5em -2.5em rgba(0,0,0,.4);
    }
}

